opencv/

# Firebase key file
BACKEND/firebaseService/src/main/resources/ebanking-2ac29-firebase-adminsdk-fbsvc-58f9ad7dd9.json

BACKEND/.idea/workspace.xml
BACKEND/.idea/workspace.xml
.idea/workspace.xml
JarFileOutput/